// SpringForward

@import url("../bower_components/bootstrap/less/bootstrap.less");
@import url("overrides.less");
@import url("variables.less");
  
//Mixins 


.header-shaded() {
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: 300;
}

.btn(@color) {
	text-align: center;
	display: inline-block;
	color: rgb(255, 255, 255);
	padding: 5px 30px;
	text-transform: uppercase;
	background-color: @color;
	font-family: "Oswald",sans-serif;
	&:hover {
		text-decoration: none;
		color: rgb(255, 255, 255);
		background-color: darken(@color, 5%);
	}
}

// Elements

body {
	.font-size(2.2);
	.line-height(3.3);
	background-color: @bodyBg;
	color: @bodyColor;
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	.h1();
	font-family: 'Oswald', sans-serif;
	font-weight: 400px;
} 

h2 {
	.h2();
	text-transform: uppercase;	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

h3 {
	.h3();
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

a {
	color: @brandAction;
	&:hover {
		text-decoration: none;
	}
}

.header-main {
	padding-top: 20px;
	@media (min-width: @screen-sm-min) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.header-main_logo {
	font-family: "Oswald", sans-serif;
	background: url(../img/logo.png) no-repeat;
	background-position: 96px 2px;
	background-size: 25px;
	.font-size(3);
	.line-height(3);
	text-transform: uppercase;
	margin-bottom: 15px;
	.make-xs-column(12; @gutter: 0px);
	@media (min-width: @screen-sm-min) {
		.font-size(4);
		.line-height(5);
		.make-sm-column(5);
		margin-bottom: 0;
		background-position: 150px 5px;
		background-size: 38px;
	}
	em {
		display: block;
		font-style: normal;
		line-height: 1;
	}
	.header-main_date {
		.font-size(2);
		vertical-align: baseline;
		@media (min-width: @screen-lg-min) {
			padding-left: 8px;
			display: inline-block;
		}
	}
}

.nav-main {
	.make-xs-column(12; @gutter: 0px);
	@media (min-width: @screen-sm-min) {
		.make-sm-column(7);
	}
}

.nav-main_list {	
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 20px;
		@media (min-width: @screen-sm-min) {
			margin-right: 45px;
		}
	}
	a {
		font-weight: bold;
		.line-height(3.5);
		display: block;
		text-transform: uppercase;
		font-family: "Oswald", sans-serif;
		&:hover {
			color: darken(@brandAction, 5%);
		}
	}
	@media (min-width: @screen-sm-min) {
		.pull-right();
	}
}

.panel-intro {
	background: url(../img/bg-body.png) no-repeat center top;
	.clearfix();
	a {
		border-bottom: 1px solid;
		&:hover {
			color: lighten(@bodyColor, 10%);
		}
	}
}

.panel-intro_header {
	.header-shaded();
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	.make-xs-column(12; @gutter: 50px);
	@media (min-width: @screen-sm-min) {
		margin-top: 50px;
		margin-bottom: 25px;
		.make-sm-column(8);
	}	
	strong {
		font-family: 'brandon_textblack_italic';
	}
}

.panel-intro_text {
	.make-xs-column(12; @gutter: 50px);
	.line-height(2.6);
	margin-top: 0;
	color: rgb(0, 0, 0);
	font-weight: 700;
	margin-bottom: 60px;
	a {
		color: rgb(0, 0, 0);
	}
	@media (min-width: @screen-sm-min) {
		margin-bottom: 100px;
		.make-sm-column(10);
	}	
}

.panel-mission {
	padding-top: 20px;
	padding-bottom: 30px;
	.make-xs-column(12; @gutter: 50px);
	@media (min-width: @screen-sm-min) {	
		padding-top: 45px;
		padding-bottom: 115px;
		.make-sm-column(10);
		.make-sm-column-offset(1);
		.line-height(3.2);
	}
}

.panel-mission_header {
	display: inline-block;
	.line-height(5.7);
	margin-top: 0;
	margin-bottom: 20px;
}

.panel-mission_text {
	.h3();
	margin: 0;

}

// Events

.events-list {
	.make-row(@gutter: 0px;);
	clear: both;
	@media (min-width: @screen-md-min) {
		margin-bottom: 30px;
	}	
}

.event-detail {
	position: relative;
	background-color: rgb(255,255,255);
	margin-bottom: 20px;
	@media (min-width: @screen-md-min) {
		.make-md-column(4; @gutter: 0px);
	}	
}


.event-detail>a:first-child {
	display: block;
}

.event-header {
	padding: 15px 25px 25px;
	color: rgb(0, 0, 0);
	&:hover {
		background-color: darken(@brandSecondary, 5%);
		color: rgb(0, 0, 0)
	}
}

.event-title {
	.h3();	
	.line-height(4);
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	position: relative;
	z-index: 2;
}

.event-desc {
	padding: 0 15px 15px;
	background: @highlight;
	min-height: 145px;
	.font-size(1.6);
	.line-height(1.8);
	@media (min-width: @screen-md-min) {	
		min-height: 215px;
		margin-top: -5px;
		padding: 0 30px 30px 30px;
		.font-size(2);
		.line-height(2.5);
	}
}

.event-meta {
	margin: 0;
	font-weight: 700;
	position: relative;
	z-index: 2;
	.font-size(1.6);
	.line-height(1.8);
	@media (min-width: @screen-sm-min) {	
		.font-size(2);
		.line-height(2.2);
	}		
	span {
		display: block;
	}
}

// Event-specific branding

.event-detail {
	.event-header {
		position: relative;
		@media (min-width: @screen-md-min) {	
			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 320px;
				height: 250px;
				background-image: url(../img/bg-events.png);
				background-repeat: no-repeat;
			}
		}	
	}
	.btn {
		span {
			display: inline-block;
			padding-top: 1px;
			vertical-align: top;
			line-height: 0.9;
		}
		@media (min-width: @screen-sm-min) {	
			position: absolute;
			bottom: 0;
			left: 0;
		}	
	}
}

.event-detail.event-1  {
	.event-header {
		background-color: @brandPrimary;
		@media (min-width: @screen-md-min) {	
			background-color: white;
			&:before {
				background-position: 0 0;
			}
		}
	}
	.btn {
		.btn(@brandPrimary);
	}
}

.event-detail.event-2  {
	.event-header {
		background-color: @brandSecondary;
		@media (min-width: @screen-md-min) {	
			background-color: white;
			&:before {
				background-position: -320px 0;
			}
		}
	}	
	.btn {
		.btn(@brandSecondary);
	}
}

.event-detail.event-3  {
	.event-header {
		background-color: @brandTertiary;
		@media (min-width: @screen-md-min) {	
			background-color: white;
			&:before {
				background-position: -640px 0;
			}
		}		
	}	
	.btn {
		.btn(@brandTertiary);
	}
}

// Get involved

.panel-involved {
	.clearfix();
	padding-top: 0;
	padding-bottom: 30px;
	@media (min-width: @screen-sm-min) {	
		padding-bottom: 70px;
	}		
}

.panel-involved_header {
	.header-shaded();
	margin-bottom: 0;
	display: inline-block;
	@media (min-width: @screen-sm-min) {	
		.make-sm-column(12);
	}	
}

.panel-involved_text {
	.line-height(3);	
	@media (min-width: @screen-sm-min) {	
		.make-sm-column(7);
	}	
	a {
		border-bottom: 1px solid;
		&:hover {
			color: lighten(@bodyColor, 10%);
		}
	}
}


.footer-main {
	.font-size(1.2);
	.line-height(1.4);
	font-weight: 700;
	background: url(../img/bg-footer.png) no-repeat 70% bottom;
	@media (min-width: @screen-sm-min) {	
		text-align: right;
		margin-top: -50px;
	}	
	.footer-main_inner {
		padding-top: 50px;
		padding-bottom: 10px;
	}
	a {
		color: @bodyColor;
		text-decoration: underline;
	}
}



